<footer class="page-footer deep-purple darken-2" style="margin-top:80px;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">SuCasa</h5>
        <p class="grey-text text-lighten-4">AQUI VOCÊ ENCONTRA O LAR DOS SEUS SONHOS</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Mapa</h5>
        <ul>
          <li><a class="white-text" ui-sref="home">Home</a></li>
          <li><a class="white-text" ui-sref="busca">Procurar Imóveis</a></li>
          <li><a class="white-text" ui-sref="credencial">Entrar</a></li>
          <li><a class="white-text" ui-sref="credencial">Cadastre-se</a></li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    2018 - <a class="purple-text text-lighten-3" href="http://materializecss.com">SuCasa</a>
    </div>
  </div>
</footer>